---
import Section from '@/components/Section.astro';
import Breadcrumb from '@/components/widgets/Breadcrumb.astro';
import NavigationHeader from '@/components/widgets/NavigationHeader.astro';
import Pagination from '@/components/widgets/Pagination.astro';
import Card from '@/components/widgets/Card.astro';
import FilterList from '@/components/widgets/FilterList.astro';
import { getList } from '@/lib/getList';
import { fetchData } from '@/lib/fetchDataAll';

import { findRootNode } from '@/utils/utils';

let { activeItem, pageSize = '8', current = '1' } = Astro.props;

const list = await getList({
  key: 'knowledge',
  type: 'knowledgedetail',
});
const {
  result: {
    data: { menu },
  },
} = await fetchData();
const total = list.length;

const BreadcrumbData = [
  {
    link: '/',
    label: 'Home',
  },
  {
    link: activeItem.url,
    label: activeItem.name_ch,
  },
];
const { pathname } = Astro.url;

const extractPageNumber = (url) => {
  const parts = url.split('/');
  const lastPart = parts.pop();

  if (lastPart.startsWith('page-')) {
    return parseInt(lastPart.replace('page-', ''), 10);
  }

  return 1;
};
current = extractPageNumber(pathname);
pageSize = parseInt(pageSize, 10);
current = parseInt(current, 10);
const startIndex = (current - 1) * pageSize;
const endIndex = Math.min(startIndex + pageSize, total);

const paginatedList = list.slice(startIndex, endIndex);
const tree = findRootNode(menu, activeItem.ID);
---

<Section class="lg:pt-[30px] pb-0 pt-[20px]">
  <Breadcrumb data={BreadcrumbData} />
  <NavigationHeader name_ch={activeItem.name_ch} />
  <FilterList items={tree} type="=knowledge" />
  <ul class="grid lg:grid-cols-4 grid-cols-2 lg:gap-[20px_1%] gap-5">
    {
      paginatedList.length > 0 &&
        paginatedList.map((item) => <Card {...item} showPic={item.knowledgePic} name={item.name_ch} />)
    }
  </ul>
  <div
    class:list={[
      'flex justify-center items-center ',
      'lg:mt-14 mt-[20px] lg:pt-[60px] pt-3',
      'border-t-[#ddd] border-t ',
    ]}
  >
    <Pagination pagination={{ pageSize, total, current }} />
  </div>
</Section>
